html, body {
        width: 100%;
        height: 100%;
        background-color: #111;
        color: white;
        margin: 0;
        padding: 0;
        font-family: proxima-nova, sans-serif;
        font-weight: bold;
    }

p {
    width: 80%;
    max-width: 650px;
    margin: 0px auto;
    margin-bottom: 25px;
    
}

div.title {
    width: 100%;
    margin-top: 30px;
    font-family: 'Staatliches', cursive;
}

p.open {
    margin-top: 75px;
    margin-bottom: 75px;
}
.nowrap{
    white-space: nowrap;
}

h1,h4,h5 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}

h1 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-style: italic;
}

h5.language span {
    cursor: pointer;
}

h5.language span.on {
    color: #dbb369;
}

    #trigger {
        width: 100%;
    	
    }

    #myimg {
        margin: 0 auto;
    	font-family: Helvetica;

    }

div#trigger {
    position: relative;
}

section#text1{
    position: relative;
}

div.step {
    position: relative;
    color: #111;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
 
}

div.step p {
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 100px;
}


div.space{
    height: 80vh;
}


div.spacer {
    height: 70vh;
}

div.full img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

section {
    height: 75vh;
    min-height: 300px;
}















#g-la-box .g-artboard {
        margin:0 auto;
    }
    #g-la-box .g-artboard p {
        margin:0;
    }
    .g-aiAbs {
        position:absolute;
    }
    .g-aiImg {
        display:block;
        width:100% !important;
    }
    .g-aiSymbol {
        position: absolute;
        box-sizing: border-box;
    }
    .g-aiPointText p { white-space: nowrap; }
    #g-la-Artboard_1 {
        position:relative;
        overflow:hidden;
    }
    .labels p {
        font-family:Century Gothic,helvetica,sans-serif;
        font-weight:700;
        font-style:normal;
        font-size:9px;
        line-height:11px;
        filter:alpha(opacity=100);
        -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity:1;
        letter-spacing:0em;
        text-align:left;
        color:rgb(221,221,221);
        text-transform:none;
        padding-bottom:0;
        padding-top:0;
        mix-blend-mode:normal;
        height:auto;
    }
    #g-la-Artboard_1 .g-pstyle0 {
        font-style:italic;
        text-align:center;
    }